<?xml version="1.0" encoding="utf-8"?>
<robot name="rs_d455" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<link name="camera_depth_optical_frame">
        <!-- <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
            <geometry>
                <mesh filename="file://$(find scout_description)/meshes/sensors/laser_link.stl" scale="1.0 1.0 1.0" />
            </geometry>
            <material name="Gray">
                <color rgba="0.5 0.5 0.5 1" />
            </material>
        </visual> -->
    </link>

</robot>

    